<ion-view view-title="Map Markers">
 
	<div data-tap-disabled="true" class="map-container" map-lazy-load="http://maps.google.com/maps/api/js" map-lazy-load-params="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJEOXMOQTVDYYd2Tvv5eRbRVt40AWGpZc">
		<ng-map class="gmap" center="40.74, -74.18" zoom="11">

			<marker id="{{ marker.id }}" position="{{marker.location}}"
				ng-repeat="(id, marker) in markers"
				on-click="showMarker(marker)">
			</marker>

			<info-window id="marker-info">
				<div ng-non-bindable="">
					<strong class="markerTitle">{{ marker.title }}</strong>
					<div class="markerContent">
						<p>{{ marker.content }}</p>
					</div>
				</div>
			</info-window>

		</ng-map>
	</div>

</ion-view>
