<ion-tabs class="tabs-icon-top tabs-positive">

  <ion-tab title="Home" icon="ion-home"
    href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Features" icon="ion-ios-pulse"
    href="#/tab/list">
    <ion-nav-view name="list-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Music" icon="ion-ios-musical-notes"
    href="#/tab/calendar">
    <ion-nav-view name="calendar-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Map" icon="ion-map"
    href="#/tab/map">
    <ion-nav-view name="map-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Sync" icon="ion-radio-waves"
    href="#/tab/sync">
    <ion-nav-view name="sync-tab"></ion-nav-view>
  </ion-tab>

</ion-tabs>